{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" style="position: relative; height: 4330.65px;">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 1.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>

                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 1.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web"
                 style="position: absolute; left: 0px; top: 553.088px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 2.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 2.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app"
                 style="position: absolute; left: 0px; top: 929.063px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 3.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 3.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card"
                 style="position: absolute; left: 0px; top: 1249.31px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 4.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 4.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web"
                 style="position: absolute; left: 0px; top: 1620.51px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 5.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 5.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app"
                 style="position: absolute; left: 0px; top: 2421.85px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 7.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 7.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="<h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card"
                 style="position: absolute; left: 0px; top: 3219.16px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 8.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 8.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card"
                 style="position: absolute; left: 0px; top: 3584.1px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 9.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 9.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web"
                 style="position: absolute; left: 0px; top: 3957.88px;">
                <div class="portfolio-wrap">
                    <img src="{%static 'assets/img/gallerie/EV 10.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء</h4>
                        <div class="portfolio-links">
                            <a href="{%static 'assets/img/gallerie/EV 10.jpg' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="حملة تضامنية من طرف طلبة المدرسة الوطنية للفنون و المهن من تنظيم نادي ماكاترونيك بشراكة مع
                            فلابلاب الدار البيضاء"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="portfolio-details-lightbox"
                               data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock content %}