{% extends 'base.html' %}
{% load cms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
<style>@import url("https://fonts.googleapis.com/css?family=Hind:400,700");


img {
    max-width: 100%;
    height: auto;
    display: block;
}

h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
}

.carousel-wrapper {
    position: relative;

    width: 100%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #FFFFFF;*/
    background-image: linear-gradient(#FFFFFF 50%, #FFFFFF 50%, #F0F3FC 50%);
    box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.carousel-wrapper .carousel {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.carousel-wrapper .carousel .carousel-cell {
    padding: 10px;
    /*background-color: #FFFFFF;*/
    width: 20%;
    height: auto;
    min-width: 120px;
    margin: 0 20px;
    transition: transform 500ms ease;
}

.carousel-wrapper .carousel .carousel-cell .more {
    display: block;
    opacity: 0;
    margin: 5px 0 15px 0;
    text-align: center;
    font-size: 10px;
    color: #CFCFCF;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.carousel-wrapper .carousel .carousel-cell .more:hover, .carousel-wrapper .carousel .carousel-cell .more:active, .carousel-wrapper .carousel .carousel-cell .more:visited, .carousel-wrapper .carousel .carousel-cell .more:focus {
    color: #CFCFCF;
    text-decoration: none;
}

.carousel-wrapper .carousel .carousel-cell .line {
    position: absolute;
    width: 2px;
    height: 0;
    background-color: black;
    left: 50%;
    margin: 5px 0 0 -1px;
    transition: height 300ms ease;
    display: block;
}

.carousel-wrapper .carousel .carousel-cell .price {
    position: absolute;
    font-weight: 700;
    margin: 45px auto 0 auto;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 300ms ease 300ms;
}

.carousel-wrapper .carousel .carousel-cell .price sup {
    top: 2px;
    position: absolute;
}

.carousel-wrapper .carousel .carousel-cell.is-selected {
    transform: scale(1.2);
}

.carousel-wrapper .carousel .carousel-cell.is-selected .line {
    height: 35px;
}

.carousel-wrapper .carousel .carousel-cell.is-selected .price, .carousel-wrapper .carousel .carousel-cell.is-selected .more {
    opacity: 1;
}

.carousel-wrapper .flickity-page-dots {
    display: none;
}

.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
    overflow: visible;
}
</style>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel" id="heroCarousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            {% for slide in slide %}
            <div class="carousel-item active"
                 style="background-image: url('{{ slide.article.imageURL }}')">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">{{slide.article.title}}</h2>
                        <p class="animate__animated animate__fadeInUp">{{slide.article.description }}</p>
                        <a class="btn-get-started animate__animated animate__fadeInUp scrollto"
                           href="{%url 'afficher' 1 %}">Voir
                            plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

        <a class="carousel-control-prev" data-bs-slide="prev" href="#heroCarousel" role="button"><span
                aria-hidden="true" class="carousel-control-prev-icon bi bi-chevron-left"></span></a>

        <a class="carousel-control-next" data-bs-slide="next" href="#heroCarousel" role="button"><span
                aria-hidden="true" class="carousel-control-next-icon bi bi-chevron-right"></span></a>
    </div>
</section>

<!-- End Hero -->


{% include 'index/com_off.html' %}
{% include 'index/aux_etudiants.html' %}
{% include 'index/static.html' %}
<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <center>
                <h1 style="color:#1F5793">Agenda</h1>
            </center>
        </div>
    </div>
</div>
{% include 'index/agenda.html' %}


<section class="testimonials" id="testimonials">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <center>
                    <h1 style="color:#1F5793">Mot du Directeur</h1>
                </center>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <div style="background-color: #0a53be;height: 250px;" class="testimonial-item ">
                    <img alt=""
                         class="testimonial-img " src="{% static 'assets/img/directeur-img.jpg' %}"
                         style="margin-top:-20px;margin-left:-15px;height: 300px;width: 300px">
                    <div style="margin-left:25%">
                        <h3 style="color: white">Professeur Abdelmajid Badri</h3>
                        <h4 style="color: white">Directeur de l'ENSAM-Casablanca</h4>

                        <p style="color: white">
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Depuis sa création en 2011, l'ENSAM-Casablanca s'est efforcée de joindre l'efficacité et la
                            qualité au succès, établissant ainsi sa réputation en tant que grande école d'ingénieurs au
                            Royaume du Maroc. Notre école est un établissement de l'Université Hassan II de Casablanca
                            et a
                            une mission claire : former une nouvelle génération de leaders engagés pour les métiers
                            d'aujourd'hui et de demain, fournissant une formation de qualité tournée vers l'innovation.
                            <i
                                    class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <center>
                <h1 style="color:#1F5793">Partenaires de Certification</h1>
            </center>
        </div>
    </div>
</div>
<section style=" background-color: transparent;" class="clients section-bg" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://www.orange.ma/" target="_blank" title="Orange">
                    <img alt="" height="70"
                         src="{%static 'assets/img/part/orange.jpeg' %}" width="200">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://www.topsolid.com/fr-fr" target="_blank" title="TopSolid">
                    <img alt="" height="70"
                         src="{%static 'assets/img/part/topslide.jpeg' %}" width="200">
                </a>
            </div>
            <!--            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
            <!--                <a target="_blank" href="https://expleo.com/global/en/" title="Expleo">-->
            <!--                    <img width="200" height="70"-->
            <!--                         src="http://www.ensam-casa.ma/assets/images/videoImage_2023_08_03_10_27_23.jpg" alt="">-->
            <!--                </a>-->
            <!--            </div>-->
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://aws.amazon.com/fr/certification/" target="_blank" title="Amazon">
                    <img alt=""
                         class="img-fluid"
                         src="{%static 'assets/img/part/amazon.png' %}">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://e.huawei.com/en/talent/" target="_blank" title="Huawei">
                    <img alt=""
                         class="img-fluid"
                         src="{%static 'assets/img/part/hauwei.png' %}">
                </a>
            </div>
            <!--            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
            <!--                <a target="_blank" href="https://training.fortinet.com/local/staticpage/view.php?page=certifications"-->
            <!--                   title="Fortinet">-->
            <!--                    <img class="img-fluid"-->
            <!--                         src="http://www.ensam-casa.ma/assets/images/partenaireImage_2021_05_08_05_15_20.png" alt="">-->
            <!--                </a>-->
            <!--            </div>-->
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://www.cisco.com/c/en/us/index.html" target="_blank" title="CISCO">
                    <img alt=""
                         class="img-fluid"
                         src="{%static 'assets/img/part/cisco.png' %}">
                </a>
            </div>
            <!--            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
            <!--                <a target="_blank" href="https://www.juniper.net/us/en/" title="JUNIPER">-->
            <!--                    <img class="img-fluid"-->
            <!--                         src="http://www.ensam-casa.ma/assets/images/partenaireImage_2021_05_08_05_17_30.png" alt="">-->
            <!--                </a>-->
            <!--            </div>-->
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://www.oracle.com/fr/index.html" target="_blank" title="ORACLE">
                    <img alt=""
                         class="img-fluid"
                         src="{%static 'assets/img/part/oracle.png' %}">
                </a>
            </div>


        </div>
    </div>
</section>


<!------ Include the above in your HEAD tag ---------->


<section>
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <center>
                    <h1 style="color:#1F5793">Ils Parlent de Nous</h1>
                </center>
            </div>
        </div>
    </div>
    <section class="blog" id="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8 entries">
                    <article style="background-color:white;" class="entry">
                        <div class="entry-img">
                            <img alt="" class="img-fluid"
                                 src="{% static 'assets/img/home/news_2023_08_02_14_45_07.jpg' %}"/>
                        </div>

                        <h2 class="entry-title"><a href="blog-single.html">Cérémonie de remise des diplômes pour les
                            lauréats de la promotion 2023</a></h2>

                        <div class="entry-content">
                            <p>Cérémonie de remise des diplômes pour les lauréats de la promotion 2023</p>
                            <div class="read-more">
                                <a href="blog-single.html">Voir plus</a>
                            </div>
                        </div>
                    </article>
                    <!-- End blog entry -->
                </div>
                <!-- End blog entries list -->

                <div class="col-lg-4">
                    <div style="background-color:white;" class="sidebar">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img alt="" src="{% static 'assets/img/home/news_2023_08_02_14_45_07.jpg' %}"/>
                                <h4><a href="blog-single.html">Cérémonie de remise des diplômes pour les lauréats de
                                    la
                                    promotion 2023</a></h4>
                            </div>

                            <div class="post-item clearfix">
                                <img alt="" src="{% static 'assets/img/home/news_2023_08_02_14_44_20.jpg' %}'"/>
                                <h4><a href="blog-single.html">Lancement de la première session de formation de
                                    Cloud
                                    Academy</a></h4>
                            </div>

                            <div class="post-item clearfix">
                                <img alt="" src="{% static 'assets/img/home/news_2023_08_02_14_30_28.jpg' %}"/>
                                <h4><a href="blog-single.html">Participation du club ITECH Immersive TECHNOLOGIES
                                    ENSAM
                                    CASABLANCA Club lors de la cérémonie de remise des diplômes pour les lauréats de
                                    la
                                    promotion 2023</a></h4>
                            </div>

                            <div class="post-item clearfix">
                                <img alt="" src="{% static 'assets/img/home/news_2023_08_02_14_31_08.jpg' %}"/>
                                <h4><a href="blog-single.html">Partenariat entre GROB-WERKE GmbH & Co. KG et l'École
                                    Nationale Supérieure d'Arts et Métiers de Casablanca</a></h4>
                            </div>

                            <div class="post-item clearfix"></div>
                        </div>
                        <!-- End sidebar recent posts -->
                    </div>
                    <!-- End sidebar -->
                </div>
                <!-- End blog sidebar -->
            </div>
        </div>
    </section>

</section>

{% block main %}
{% placeholder 'main' %}
{% endblock main %}

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<!--<script>-->
<!--    var multipleCardCarousel = document.querySelector('#carouselExampleControls')-->
<!--    if (window.matchMedia('(min-width: 768px)').matches) {-->
<!--        var carousel = new bootstrap.Carousel(multipleCardCarousel, {-->
<!--            interval: false-->
<!--        })-->
<!--        var carouselWidth = $('.carousel-inner')[0].scrollWidth-->
<!--        var cardWidth = $('.carousel-item').width()-->
<!--        var scrollPosition = 0-->
<!--        $('#carouselExampleControls .carousel-control-next').on('click', function () {-->
<!--            if (scrollPosition < carouselWidth - cardWidth * 4) {-->
<!--                scrollPosition += cardWidth-->
<!--                $('#carouselExampleControls .carousel-inner').animate({scrollLeft: scrollPosition}, 600)-->
<!--            }-->
<!--        })-->
<!--        $('#carouselExampleControls .carousel-control-prev').on('click', function () {-->
<!--            if (scrollPosition > 0) {-->
<!--                scrollPosition -= cardWidth-->
<!--                $('#carouselExampleControls .carousel-inner').animate({scrollLeft: scrollPosition}, 600)-->
<!--            }-->
<!--        })-->
<!--    } else {-->
<!--        $(multipleCardCarousel).addClass('slide')-->
<!--    }-->
<!--</script>-->
{% endblock %}
