{% load static %}
<br><br>
<div class="section-title mt-4">
    <center>
        <h1 style="color:#1F5793">Avis Aux Étudiants</h1>
    </center>
</div>
<div style="background:transparent;" class="carousel-wrapper">

    <div class="carousel mt-3" data-flickity>

        <div style="background-color: white;" class="carousel-cell">

            <img src="{% static 'assets/img/communique_2023_10_12_11_43_04.png' %}"/>
            <h6>The fifth International Conference on Smart
                Applications and Data
                Analysis for Smart Cyber-Physical Systems (SADASC’24)</h6>

            <a class="btn btn-primary more" href="{%url 'afficher' 1 %}">Afficher</a>
            <div class="line"></div>
            <div class="price">
                <span>20/12/2023</span>
            </div>
        </div>
        <div style="background-color: white;" class="carousel-cell">

            <img src="{% static 'assets/img/communique_2023_10_12_11_43_04.png' %}"/>
            <h6>إعلان عن فتح باب الترشيح لشغل مناصب رؤساء المصالح بالمدرسة الوطنية
                العليا
                للفنون و المهن بالدار البيضاء</h6>
            <a class="btn btn-primary more" href="{%url 'afficher' 1 %}">Afficher</a>
            <div class="line"></div>
            <div class="price">
                <span>20/12/2023</span>
            </div>
        </div>
        <div style="background-color: white;" class="carousel-cell">

            <img src="{% static 'assets/img/communique_2023_10_12_11_43_04.png' %}"/>
            <h6>الرتشـيحات للتسـجيل في تكوينـات الدكتـوراه برسـم الموسم الجامعـي
                2023-2024</h6>
            <a class="btn btn-primary more" href="{%url 'afficher' 1 %}">Afficher</a>
            <div class="line"></div>
            <div class="price">
                <span>20/12/2023</span>
            </div>
        </div>
        <div style="background-color: white;" class="carousel-cell">
            <img src="{% static 'assets/img/communique_2023_10_12_11_43_04.png' %}"/>
            <h6>With supporting text below as a natural lead-in to
                additional content.</h6>
            <a class="btn btn-primary more" href="{%url 'afficher' 1 %}">Afficher</a>

            <div class="line"></div>
            <div class="price">
                <span>20/12/2023</span>
            </div>
        </div>
        <div style="background-color: white;" class="carousel-cell">
            <img src="{% static 'assets/img/communique_2023_10_12_11_43_04.png' %}"/>
            <h6>With supporting text below as a natural lead-in to
                additional content.</h6>
            <a class="btn btn-primary more" href="{%url 'afficher' 1 %}">Afficher</a>

            <div class="line"></div>
            <div class="price">
                <span>20/12/2023</span>
            </div>
        </div>

    </div>

</div>

<br><br>