<section class="  py-3 py-md-5">
    <div class="">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <div class="section-title">
                    <center>
                        <h1 style="color:#1F5793">ENSAM EN CHIFFRE</h1>
                    </center>
                </div>


            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row gy-4 gy-lg-0 ">

            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;" class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center ">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">69</h2>
                                        <p style="color:#1F5793" >Enseignants permanents</p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">4</h2>
                                        <p style="color:#1F5793" >Départements</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">5</h2>
                                        <p style="color:#1F5793" >Filières Diplôme Ingénieur
                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">3</h2>
                                        <p style="color:#1F5793" >Filières Master

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center ">
                                        <h2 style=" font-size: 4em;font-family: 'Times New Roman';">10</h2>
                                        <p style="color:#1F5793"  >Filières licence formation continue

                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                   <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">3</h2>
                                        <p style="color:#1F5793">Filières master formation continue

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">3</h2>
                                        <p style="color:#1F5793" >Laboratoires techniques

                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">28</h2>
                                        <p style="color:#1F5793" >Laboratoires de recherche</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">4</h2>
                                        <p style="color:#1F5793">Amphithéâtres

                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">1</h2>
                                        <p style="color:#1F5793">Salles de Conférence
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">1</h2>
                                        <p style="color:#1F5793" >Salle de polyvalente

                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">12</h2>
                                        <p style="color:#1F5793" >Salles de cours


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;" class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">4</h2>
                                        <p style="color:#1F5793">Salles de Tp Informatique
                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">1</h2>
                                        <p style="color:#1F5793" >Terrain de sport


                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">24</h2>
                                        <p style="color:#1F5793" >Corps administratif

                                        </p>
                                    </div>
                                </div>
                                <div style="height: 200px;width: 250px;"  class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center">
                                        <h2 style="font-size: 4em;font-family: 'Times New Roman';">2011</h2>
                                        <p style="color:#1F5793" >Année d'existence
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>